body{
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}
.text-muted{
	color: #BCBBBB;
}
.text-thin{
	font-weight: 100;
}

.title-super{
	font-size: 60px;
}

.title-logo{
	margin-top: 20px;
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
	border: dashed 1px blue;
}
.col-md-4{
	display: inline-block;
	margin: 50px;
}
footer{
	float:right;
}

address{
	min-width: 48px;
	min-height: 48px;
}
